*{
    font-family: 'Slabo 27px', serif;
    /* color: red; */
   
}
body{
/*  background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed; */
}
.nav-link {
    color: black;
}
nav.a{
    color: black;
}
.add-agency{
    margin-top: 20%;
    text-align: center;
}
/* .card{
    height: 10%;
} */
/* .card-img-top{
    height: 100%;

} */



/* +254 708 668 618 */